
<body>
    <div class="content clearfix">
      <section class="main-header">
        <%= image_tag("name.png") %>
      </section>

          <section class="about">
            <h2>About hototogisu</h2><br>
            <p>
              鳴かぬならみんなでつぶやこうhototogisu...
            <br>
          『鳴くまでまった甲斐がありました。』（武将I.Tさん）


        </p>
              <p>
                昔は気軽に呟くことなんて許されない時代がありました。<br>
          好きなことを好きな時に発信できる世の中に感謝して、より良くしていきたい。本当です。
        </p>
          </section>
        </div>
    </div>
</body>
